extends layout

block content

	h1.title #{user.FirstName} #{user.LastName}'s Feed
	.imageSpace
		//all of this is for testing layout
		- var num = 0;
		- var owner;
		each photo in feed
			if (num < 30)
				.thumbContainer
					a(href='/photos/#{photo.id}.#{photo.extension}') 
						img(src='/photos/thumbnail/#{photo.id}.#{photo.extension}' width = 400)
					a.nameLabel(href='/users/#{photo.owner_id}')
						p #{photo.owner_name}
					p.timeLabel 2 mins ago
					- num++
	//TODO: Add proper link.
	a.more(href="/feed/") More 
	br