extends layout

block content

	script.
		function loadXMLDoc(elem)
		{
			console.log('test');
			var xmlhttp;
			if (window.XMLHttpRequest)
			{// code for IE7+, Firefox, Chrome, Opera, Safari
				xmlhttp=new XMLHttpRequest();
			}
			else
			{// code for IE6, IE5
				xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
			xmlhttp.onreadystatechange=function()
			{
				if (xmlhttp.readyState==4 && xmlhttp.status==200)
				{
					elem.onclick = undefined;
					elem.innerHTML="shared";
				}
			}
			xmlhttp.open("GET","/share/" + elem.id,true);
			xmlhttp.send();
		}

	h1.title #{currentUser.FullName}'s Feed
	.imageSpace
		each photo in feed
			.thumbContainer
				a(href='/photos/#{photo.id}.#{photo.extension}') 
					img(src='/photos/thumbnail/#{photo.id}.#{photo.extension}')
				br
				.labelContainer
					- if (photo.owner_id != currentUser.id)
						if photo.shared
							a.share(href="javascript:void(0);" id='#{photo.id}') shared
							br
						else
							a.share(href="javascript:void(0);" id='#{photo.id}' onclick="loadXMLDoc(this)") share
							br
					if photo.sharer_name
						p
							span.
								<a class='nameLabel' href='/users/#{photo.owner_id}'>#{photo.owner_name} </a>
								shared by&nbsp
							a.nameLabel(href='/users/#{photo.sharer_id}') #{photo.sharer_name}
					else
						a.nameLabel(href='/users/#{photo.owner_id}') #{photo.owner_name}
					p.timeLabel #{photo.timeAgo)
	if nextPage
		a.more(href="/feed?page=#{nextPage}") More 
	br