extends layout

block content

	h1.title #{currentUser.FullName}'s Feed
	.imageSpace
		each photo in feed
			.thumbContainer
				a(href='/photos/#{photo.id}.#{photo.extension}') 
					img(src='/photos/thumbnail/#{photo.id}.#{photo.extension}' width = 400)
				br
				.labelContainer
					- if (!photo.shared && photo.owner_id != currentUser.id)
						a.share(href='/share/#{photo.id}') share
					if photo.shared
						span.
							<a class='nameLabel' href='/users/#{photo.owner_id}'>#{photo.owner_name} </a>
							shared by&nbsp
						a.nameLabel(href='/users/#{photo.sharer_id}') #{photo.sharer_name}
					else
						a.nameLabel(href='/users/#{photo.owner_id}') #{photo.owner_name}
					p.timeLabel #{photo.timeAgo)
	if nextPage
		a.more(href="/feed?page=#{nextPage}") More 
	br