extends layout

block content

	h1.title #{user.FullName}'s Feed
	.imageSpace
		//all of this is for testing layout
		- var num = 0;
		- var owner;
		each photo in feed
			.thumbContainer
				a(href='/photos/#{photo.id}.#{photo.extension}') 
					img(src='/photos/thumbnail/#{photo.id}.#{photo.extension}' width = 400)
				a.nameLabel(href='/users/#{photo.owner_id}')
					p #{photo.owner_name}
				if photo.shared
					a.nameLabel(href='/users/#{photo.sharer_id}')
						p (shared by #{photo.sharer_name})
				p.timeLabel #{photo.timeAgo)
	if nextPage
		a.more(href="/feed?page=#{nextPage}") More 
	br