extends layout

block content

	h1.title #{user.FullName}'s Stream 
	- if (authenticatedUserID != id)
		if following
			a.follow(href='/users/' + user.id + '/unfollow') Unfollow
		else
			a.follow(href='/users/'+user.id+'/follow') Follow
	.imageSpace
		//all of this is for testing layout
		each photo in photos
			.thumbContainer
				a(href='/photos/#{photo.id}.#{photo.extension}') 
					img(src='/photos/thumbnail/#{photo.id}.#{photo.extension}' width = 400)
				br
				.labelContainer
					a.share(href='/feed/') share
					br
					a.nameLabel(href='/users/#{photo.owner_id}') #{photo.owner_name}
					p.timeLabel #{photo.timeAgo)
		//TODO: Add proper link.
	if nextPage
		a.more(href="/users/#{user.id}?page=#{nextPage}") More 