extends layout

block content

	h1.title #{user.FullName}'s Stream 
	- if (currentUser.id != id)
		if following
			a.follow(href='/users/' + user.id + '/unfollow') Unfollow
		else
			a.follow(href='/users/'+user.id+'/follow') Follow
	.imageSpace
		//all of this is for testing layout
		each photo in photos
			.thumbContainer
				a(href='/photos/#{photo.id}.#{photo.extension}') 
					img(src='/photos/thumbnail/#{photo.id}.#{photo.extension}' width = 400)
				br
				.labelContainer
					- if (!photo.shared && photo.owner_id != currentUser.id)
						a.share(href='/share/#{photo.id}') share
						br
					if photo.shared
						p
							span.
								<a class='nameLabel' href='/users/#{photo.owner_id}'>#{photo.owner_name} </a>
								shared by&nbsp
							a.nameLabel(href='/users/#{photo.sharer_id}') #{photo.sharer_name}
					else
						a.nameLabel(href='/users/#{photo.owner_id}') #{photo.owner_name}
					p.timeLabel #{photo.timeAgo)
		//TODO: Add proper link.
	if nextPage
		a.more(href="/users/#{user.id}?page=#{nextPage}") More 